
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

#page3 > img {
  width: 80%; /* You can adjust the percentage to make it smaller or larger */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page3-upper {
  height: 25%;
  width: 35%;
  position: absolute;
  z-index: 9;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

#page3-upper > img {
  position: absolute;
  width: 70%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#page3-upper-inner {
  position: absolute;
  bottom: 0%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: #ff5a00;
}

#page3-upper-inner > h3 {
  font-weight: 600;
  font-size: medium;
}

#page3-upper-inner-down {
  position: absolute;
  /* top: 10%; */
  bottom: -15%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  color: #86868b;
}

#page3-upper-inner-down > h3 {
  font-weight: 600;
  font-size: medium;
}

#page3 > button {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: 1px solid #000;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50px;
  font-size: larger;
  cursor: pointer;
}